---
import DefaultHead from "../components/DefaultHead.astro";
import Navigation from "../components/Navigation.astro";
import { content, defaultLanguage } from "../i18n/content";

const pageContent = content[defaultLanguage];
---

<html lang={defaultLanguage}>
    <DefaultHead title={pageContent.meta.title} description={pageContent.meta.description} />
    <body>
        <Navigation />
        <main class="container space-y-4 py-6">
            <h1 class="text-2xl font-semibold" data-i18n-blog-heading>{pageContent.blog.heading}</h1>
            <div class="flex flex-col gap-2" data-i18n-blog-posts>
                {pageContent.blog.posts.map((post) => (
                    <a
                        class="text-black text-lg underline"
                        href={`${import.meta.env.BASE_URL}posts/${post.slug}/`}
                    >
                        {post.title}
                    </a>
                ))}
            </div>
        </main>
    </body>
</html>
