---
export interface Props {
    title?: string;
    description?: string;
    ogImage?: string;
    canonicalURL?: string;
}
const { title = "Portfolio", description = "Miyamoto Naoyuki's portfolio", ogImage, canonicalURL } = Astro.props;
const socialImageURL = ogImage ?? `${import.meta.env.BASE_URL}default-ogp.png`;
const finalURL = canonicalURL ?? new URL(Astro.url.pathname, Astro.site || "https://supurazako.github.io/portfolio/").href;
---
<head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={finalURL} />
    <meta property="og:image" content={socialImageURL} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImageURL} />
    <slot />
</head>
